<body>

    <main class="container-input">


        <div id="div_central">
            <div id="div_esquerda">
                <!-- aqui vai ficar a logo -->
            </div>

            <div id="div_direita">
                <div id="div_formularios">
                    <mat-tab-group animationDuration="0ms" color>
                        <mat-tab label="Login">
                            <!--LOGIN FORM-->
                            <form class="login-form" (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
                                <div class="form-group" id="form_cpf">
                                    <label >Insira seu login</label>
                                    <input  id="input_cpf" maxlength="14" type="login" name="login" [(ngModel)]="login"/>
                                </div>
                                <div class="form-group" id="form_senha" >
                                    <label>Insira sua senha</label>
                                    <input id="input_password"  type="password" name="password" [(ngModel)]="password"/>
                                </div>
                                
                                <div class="form_buttons">
                                    <!--
                                        <button  id="login_button">Login</button>
                                    -->
                                    <button mat-raised-button class="color-button">Login</button>

                                    
                                </div>
                            </form>
                        </mat-tab>
                        <mat-tab label="Registrar">
                            <form class="login-form" (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
                                <div class="form-group" id="form_firstName">
                                    <label >Insira seu primeiro nome</label>
                                    <input  id="input_firstName" type="firstName" name="firstName" [(ngModel)]="firstName"/>
                                </div>
                                <div class="form-group" id="form_lastName">
                                    <label >Insira seu ultimo nome</label>
                                    <input  id="input_lastName" type="lastName" name="lastName" [(ngModel)]="lastName"/>
                                </div>
                                <div class="form-group" id="form_cpf">
                                    <label >Insira seu login</label>
                                    <input  id="input_cpf" maxlength="14" type="login" name="login" [(ngModel)]="login"/>
                                </div>
                                <div class="form-group" id="form_senha" >
                                    <label>Insira sua senha</label>
                                    <input id="input_password"  type="password" name="password" [(ngModel)]="password"/>
                                </div>
                                
                                <div class="form_buttons">
                                    <button mat-raised-button class="color-button">Registrar</button>
                                </div>
                            </form>
                        </mat-tab>
                      </mat-tab-group>
                            
                        <!--REGISTER FORM-->
                            
                </div>
            </div>
            
        </div>

    </main>
    <script src="script.js"></script>
</body>