.edit-content{
  margin-left: 187px;
}

h1{
  font-size: 40px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5px; /* Ajuste conforme necessário */
  }

  input{
    display: block;
    width: 300px;
    margin-bottom: 25px;
    height: 22px;
    box-shadow: 0 4px 2px -2px gray;
    border: 0px;
    background-color: #CFCFCF;
  }   
  


  .mat-mdc-raised-button.action_button{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background: #A7CED0;
    font-size: small;
    display: block;
    margin-left: 700px;
    border-radius: 30px;
    white-space: nowrap;
    font-size: 15px;
    border-color: transparent;
    }