h1{
    margin-top: 10px;
      font-family: 'Poppins','Roboto', sans-serif;
      margin-left: 187px;
      font-size: 40px;
  }
#form-report{
    margin-top: 60px;
}
input, select{
display: block;
width: 300px;
margin-bottom: 15px;
height: 22px;
box-shadow: 0 4px 2px -2px gray;
border: 0px;
background-color: #CFCFCF;
margin-top: 5px;
} 
#form-group{
    font-family: 'Poppins','Roboto', sans-serif;
    margin-left: 187px;
    font-size: 20px;
    margin-top: 40px;
}
#first-button{
margin-top: 60px;
}
.btn-function{
width: 200px;
height: 40px;
margin-top: 10px;
background: #A7CED0;
font-size: small;
display: block;
margin-left: 187px;
border-radius: 30px;
white-space: nowrap;
font-size: 15px;
border-color: transparent;
}

#div_table{
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;

}