h1{
    font-family: 'Roboto', sans-serif;
    margin-left: 187px;
}
h2{
    margin-top: 102px;
    font-family: 'Roboto', sans-serif;
    margin-left: 187px;

}

.btn_form{
  width: 100px;
  height: 50px;
  margin-top: 10px;
    background: #A7CED0;
    font-size: small;
}

.div_btn {
    display: flex;
    flex-direction: column;
  }